<ion-view view-title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="dashboards padding">
      <error-msg message="error"
                 ng-if="error">
      </error-msg>
    <div class="list card">
      <div class="item item-divider">Albums</div>
      <div class="item item-body">
        <div>
          You have <b>{{albumsCount}}</b> albums
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Photos</div>
      <div class="item item-body">
        <div>
          You have <b>{{allPhotosCount}}</b> images!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Notes</div>
      <div class="item item-body">
        <div>
          You have <b>{{notesCount}}</b> notes.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
