<ion-view view-title="{{album.name}}">
  <ion-content class="padding">
      <success-msg message="success"
                   ng-if="success">
      </success-msg>
      <error-msg message="error"
                 ng-if="error">
      </error-msg>
      <action-buttons add-action="goToAddPhotoPage()"
                      is-in-edit-mode="isAlbumInEditMode"
                      is-in-delete-mode="isAlbumInDeleteMode"
                      condition="photos.length == 0">
      </action-buttons>

      <div class="clear"></div>

      <item ng-repeat="photo in photos"
            class="photo"
             item="photo"
             items="photos"
             is-in-edit-mode="isAlbumInEditMode"
             is-in-delete-mode="isAlbumInDeleteMode"
             edit-item-action="editPhotoDetails(photo)"
             delete-item-action="deletePhoto(photo)"
             open-item-action="openPhotoSliderModal(photo, photos)">
      </item>

  </ion-content>
</ion-view>