<ion-view view-title="{{album.name}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon"
                ui-sref="app.albums">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <success-msg message="success"
                   ng-if="success">
      </success-msg>
      <error-msg message="error"
                 ng-if="error">
      </error-msg>
      <action-buttons add-action="goToAddPhotoPage()"
                      is-in-edit-mode="isAlbumInEditMode"
                      is-in-delete-mode="isAlbumInDeleteMode"
                      condition="photos.length == 0"
                      on-delete-button-clicked="deletePhotos()">
      </action-buttons>

      <div class="clear"></div>

      <item ng-repeat="photo in photos | orderBy: 'dateAdded' track by $index"
            class="photo"
             item="photo"
             items="photos"
             is-in-edit-mode="isAlbumInEditMode"
             is-in-delete-mode="isAlbumInDeleteMode"
             on-item-clicked="onItemClicked(photo, photos, isAlbumInEditMode, isAlbumInDeleteMode)">
      </item>
      <div ng-if="photos.length == 0"
           class="empty-msg center">
          No photos to display</div>

  </ion-content>
</ion-view>