<div class="modal">

    <ion-content>

        <button class="button button-icon slider-btn"
                ng-click="openPhotoInfoModal()">
            <i class="icon ion-ios-information-outline light"></i>
        </button>
        <button class="button button-icon slider-btn slider-close-btn"
                ng-click="closeFileSliderModal()">
            <i class="icon ion-close light"></i>
        </button>

        <ion-slide-box show-pager="false"
                       does-continue="false"
                       active-slide="currentSlideIndex"
                       on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="file in files">
                <h1 class="title">{{file.name}}</h1>
                <ion-scroll zooming="true"
                            min-zoom="{{zoomMin}}"
                            direction="xy"
                            scrollbar-x="false"
                            scrollbar-y="false"
                            overflow-scroll="false"
                            class="w-h-100"
                            delegate-handle="scrollHandle{{$index}}"
                            on-scroll="updateSlideStatus(currentSlideIndex)"
                            on-release="updateSlideStatus(currentSlideIndex)">
                    <div class="photo-fullsize" style="background-image: url({{file.url}})"></div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>

    </ion-content>

</div>
