<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Photo Info</h1>
        <button class="button button-clear button-positive"
                ng-click="closePhotoInfoModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <!--TODO: Replace file/image to photo EVERYWHERE!-->
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label bold">Name</span>
                <div>{{file.name}}</div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label bold">Location</span>
                <div class="photo-location">{{file.location}}</div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label bold">Date/Time</span>
                <div>{{file.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label bold">Note</span>
                <div>{{file.note}}</div>
            </label>
        </div>

        <div class="button-bar social-bar">
            <a class="button icon ion-social-facebook button-positive" ng-click="shareToFacebook()"></a>
            <a class="button icon ion-social-twitter button-calm" ng-click="shareToTwitter()"></a>
            <a class="button icon ion-email button-assertive" ng-click="shareToEmail()"></a>
            <a class="button icon ion-more button-dark" ng-click="shareExternal()"></a>
        </div>

    </ion-content>

</div>
