<div state-change-action
     action="exitFromEditDeleteMode()"
     class="text-right">
    <span ng-show="!isInEditMode && !isInDeleteMode">
        <button class="button button-icon action-button"
                ng-click="addAction()" >
            <i class="icon ion-plus-circled light"></i>
        </button>
        <button class="button button-icon action-button"
                ng-click="enterInEditMode()"
                ng-hide="condition">
            <i class="icon ion-edit light"></i>
        </button>
        <button class="button button-icon action-button"
                ng-click="enterInDeleteMode()"
                ng-hide="condition">
            <i class="icon ion-android-remove-circle light"></i>
        </button>
    </span>

    <span ng-show="isInDeleteMode">
         <button class="button button-icon action-button"
                 ng-click="onDeleteButtonClicked()">
             <i class="icon ion-trash-a light"></i>
         </button>
    </span>

    <span ng-show="isInEditMode || isInDeleteMode">
        <button class="button button-clear cancel-button"
                ng-click="exitFromEditDeleteMode()">
            <i class="icon ion-android-exit light"></i>
        </button>
    </span>

</div>