<div class="card item"
     ng-class="{ 'not-clickable' : isInEditMode || isInDeleteMode }">
    <button class="button button-icon delete-button"
            ng-click="editItemAction(item)"
            ng-if="isInEditMode">
        <i class="icon ion-edit balanced"></i>
    </button>
    <button class="button button-icon delete-button"
            ng-click="deleteItemAction(item)"
            ng-if="isInDeleteMode">
        <i class="icon ion-android-remove-circle assertive"></i>
    </button>
    <div class="w-h-100"
         ng-click="openItemAction(item, items)">
        <div class="item item-image"
             ng-if="item.url"
             style="background-image: url({{item.url}})"></div>
        <div class="item item-image"
             ng-if="!item.url">
            <i class="icon ion-ios-photos-outline"></i>
        </div>
        <div class="item item-divider center">
            <h2>{{item.name}}</h2>
            <p ng-if="item.description">{{item.description}}</p>
        </div>
    </div>
</div>