<div class="card item animated zoomIn">
    <button class="button button-icon delete-button"
            ng-if="isInDeleteMode && item.isSelected">
        <i class="icon ion-ios-checkmark light"></i>
    </button>
    <div class="w-h-100"
         ng-click="onItemClicked(item, items)">
        <div class="item item-image"
             ng-if="item.url"
             style="background-image: url({{item.url}})"></div>
        <div class="item item-image"
             ng-if="!item.url">
            <i class="icon ion-ios-photos-outline"></i>
        </div>
        <div class="item item-divider center">
            <h2>{{item.name}}</h2>
            <p ng-if="item.description">{{item.description}}</p>
        </div>
    </div>
</div>