.item.card {
  margin: 1px;
  position: relative;
  float: left;
  padding: 0;

  .item-image {
    padding: 0;
    width: 100%;
    height: calc(100% - 30px);
    text-align: center;
    background-repeat:  no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .item-divider {
    max-height: 33px;
  }
}

.delete-button {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  pointer-events: initial;
}

.album {
  .item.card {
    width: 160px;
    height: 160px;

    .item-image {
      height: calc(100% - 45px);

      .icon {
        font-size: 80px;
        line-height: 115px;
      }
    }

    .item-divider {
      max-height: 45px;
      padding-top: 2px;
    }
  }
}

.photo {
  .item.card {
    width: 110px;
    height: 110px;
  }
}