.photo-wrap {
  width: 100%;
  text-align: center;

  img {
    width: 300px;
    height: 300px;
  }
}

////Detail info
.photo-location {
  white-space: normal;
}

#map {
  height: 200px;
}

.social-bar {
  padding: 0 10px;
}