.add-photo-button-wrap {
  height: 50%;

  .add-photo-button {
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    vertical-align: middle;

    .icon:before {
      font-size: 60px;
    }
  }
}

.photo-wrap {
  width: 100%;
  text-align: center;

  img {
    max-width: 300px;
    max-height: 300px;
  }
}

////Detail info
.photo-info {
  .item-input, .input-label {
    color: #fff;
  }

  .photo-location {
    white-space: normal;
  }

  #map {
    height: 200px;
  }

  .social-bar {
    padding: 0 10px;
  }
}