<ion-view view-title="Photos">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <success-msg message="success"
                   ng-if="success">
      </success-msg>
      <error-msg message="error"
                 ng-if="error">
      </error-msg>
      <div class="add-photo-button-wrap animated fadeIn">
          <div class="add-photo-button"
                  ng-click="takePhoto()">
              <i class="icon ion-camera"></i>
              <div>Take Photo</div>
          </div>
      </div>
      <div class="add-photo-button-wrap animated fadeIn">
          <div class="add-photo-button"
               ng-click="choosePhoto()">
              <i class="icon ion-images"></i>
              <div>Choose Photo</div>
          </div>
      </div>
</ion-content>
</ion-view>