<ion-view view-title="Photo Details">
    <ion-nav-buttons side="left">
        <button class="button button-icon"
                ui-sref="app.photo">
            <i class="icon ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <div class="photo-wrap animated fadeIn">
          <img class="animated zoomIn" ng-src="{{photo.url}}" alt="photo" />
          <label class="item item-input mtb-11">
              <input type="text"
                     placeholder="Photo Name"
                     ng-model="photo.name">
          </label>
          <label class="item item-input mtb-11"
                 ng-if="settings.enableNotes">
              <textarea ng-model="photo.note"
                        placeholder="Take a note here"></textarea>
          </label>
          <button class="button button-block primary-button"
                  ng-click="openSelectAlbumModal()"
                  ng-if="!isAlbumViewPrevSate && !isAlbumInEditMode">
              Add to Album
          </button>
          <button class="button button-block primary-button"
                  ng-click="addPhotoToAlbum(photo)"
                  ng-if="isAlbumViewPrevSate">
              Save
          </button>
          <button class="button button-block primary-button"
                  ng-click="editPhoto(photo)"
                  ng-if="isAlbumInEditMode">
              Save
          </button>
          <button class="button button-clear cancel-button"
                  ng-click="cancelAddingPhotoToAlbum()">Cancel
          </button>
      </div>
</ion-content>
</ion-view>
