<ion-view view-title="Photo Details">
  <ion-content class="padding">
      <div class="photo-wrap">
          <img ng-src="{{photo.url}}" alt="photo" />
          <label class="item item-input mtb-11">
              <input type="text"
                     placeholder="Photo Name"
                     ng-model="photo.name">
          </label>
          <label class="item item-input mtb-11"
                 ng-if="settings.enableNotes">
              <textarea ng-model="photo.note"
                        placeholder="Take a note here"></textarea>
          </label>
          <button class="button button-block button-positive"
                  ng-click="openSelectAlbumModal()"
                  ng-if="!isAlbumViewPrevSate && !isAlbumInEditMode">
              Add to Album
          </button>
          <button class="button button-block button-positive"
                  ng-click="addPhotoToAlbum(photo)"
                  ng-if="isAlbumViewPrevSate">
              Save
          </button>
          <button class="button button-block button-positive"
                  ng-click="editPhoto(photo)"
                  ng-if="isAlbumInEditMode">
              Save
          </button>
          <button class="button button-clear button-positive"
                  ng-click="cancelAddingPhotoToAlbum()">Cancel
          </button>
      </div>
</ion-content>
</ion-view>
